.button {
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.8px;
}

.primary {
  background-color: var(--clr-pink);
  color: var(--clr-pale-white);
}

.mediumShadow {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 30%);
}

.lightShadow {
  box-shadow: 0 0 20px 0 rgb(0 0 0 / 10%);
}
