.header {
  min-height: 80px;
  background-color: var(--clr-pale-black);
  color: var(--clr-pale-white);
  display: flex;
  align-items: center;
  box-shadow: 0 0 7px 0 rgb(0 0 0 / 60%);
}

.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1.2px;
  color: var(--clr-pink);
  display: inline-block;
}
